<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hawksjamesf.storage">

    <application>
        <activity android:name=".FirebaseDatabaseActivity" />
        <activity
            android:name=".LogDBActivity"
            android:theme="@style/Theme.AppCompat.DayNight" />
    </application>
</manifest>
