<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hawksjamesf.storage">

    <application>
        <activity android:name=".FirebaseDatabaseActivity" />
        <activity
            android:name=".LogDBActivity"
            android:theme="@style/Theme.AppCompat.DayNight" />
        <provider
            android:authorities="${applicationId}.storage.log"
            android:exported="false"
            android:name=".LogContentProvider"/>
    </application>
</manifest>
