<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jamesfchen.av">

    <application>
        <activity android:name="com.jamesfchen.av.AvRecorderActivity" />
        <service
            android:foregroundServiceType="mediaProjection"
            android:name="com.jamesfchen.av.AvRecorderService"
            />
        <activity
            android:name="com.jamesfchen.av.video.VideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:supportsPictureInPicture="true"
            />
<!--            android:theme="@style/VideoTheme" -->
    </application>
</manifest>
