<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jamesfchen.bundle2">

    <application>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".Bundle2Activity"
            android:exported="true"
            android:theme="@style/Theme.SpacecraftAndroid.NoActionBar" />

        <activity android:name="com.jamesfchen.bundle2.customview.recyclerview.RecyclerViewActivity" />
        <activity android:name="com.jamesfchen.bundle2.customview.animationsExprimental.AnimActivity" />
        <activity
            android:name="com.jamesfchen.bundle2.customview.animationsExprimental.DetailActivity"
            android:theme="@style/BaseAppTheme.DetailTheme" />
        <activity android:name="com.jamesfchen.bundle2.customview.animationsExprimental.LottieActivity" />
        <activity android:name="com.jamesfchen.bundle2.customview.animationsExprimental.FrameAnimationActivity" />
        <activity
            android:name="com.jamesfchen.bundle2.customview.animationsExprimental.TransitionForViewActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name="com.jamesfchen.bundle2.customview.animationsExprimental.TransitionForActivityActivity"
            android:theme="@style/BaseAppTheme.ListTheme" />

        <activity android:name="com.jamesfchen.bundle2.customview.scrollExprimental.ScrollableActivity" />
        <activity android:name="com.jamesfchen.bundle2.customview.scrollExprimental.NestedScrollActivity" />
        <activity android:name="com.jamesfchen.bundle2.customview.gesture.GestureActivity" />
        <activity
            android:name="com.jamesfchen.bundle2.customview.newLayoutExprimental.ConstraintAndFlexBoxActivity"
            android:exported="true" />
        <activity
            android:name="com.jamesfchen.bundle2.customview.newLayoutExprimental.ConstraintPerformanceActivity"
            android:exported="true"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name="com.jamesfchen.bundle2.customview.newLayoutExprimental.CoordinatorLayoutActivity"
            android:exported="true" />
        <activity
            android:name="com.jamesfchen.bundle2.customview.CustomViewActivity"
            android:theme="@style/AppTheme" />
        <activity android:name="com.jamesfchen.bundle2.customview.DispatchEventActivity" />
        <activity android:name="com.jamesfchen.bundle2.customview.testStyle.TextStyleActivity" />
        <activity
            android:name="com.jamesfchen.bundle2.customview.testStyle.SearchActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />


        <activity
            android:name="com.jamesfchen.bundle2.drawable.DrawableActivity"
            android:label="@string/title_activity_drawable"
            android:theme="@style/AppTheme"/>
        <activity android:name=".launchmode.SpringBoardActivity"/>
        <activity android:name="com.jamesfchen.bundle2.feedback.FeedbackUtilActivity" android:theme="@style/Theme.AppCompat.Light"/>
        <activity android:name="com.jamesfchen.bundle2.bottomupDialog.BottomUpActivity" android:theme="@style/Theme.AppCompat.Light"/>

        <activity android:name="com.jamesfchen.bundle2.launchmode.Jump2NewTaskActivity" android:theme="@style/Theme.AppCompat.Light"/>
        <!--        singleTask(Intent.FLAG_ACTIVITY_SINGLE_TOP or Intent.FLAG_ACTIVITY_CLEAR_TOP)：
                    如果存在FourthActivity，则清除FourthActivity之上的Activity并且推至顶部-->
        <activity android:name="com.jamesfchen.bundle2.launchmode.Jump2SingleTaskInIntentActivity" android:theme="@style/Theme.AppCompat.Light"/>
        <activity android:name="com.jamesfchen.bundle2.launchmode.SingleTaskInIntentActivity" android:theme="@style/Theme.AppCompat.Light" />
        <activity android:name="com.jamesfchen.bundle2.launchmode.Jump2SingleTaskManifestActivity" android:theme="@style/Theme.AppCompat.Light" />
        <activity android:name="com.jamesfchen.bundle2.launchmode.SingleTaskInManifestActivity" android:theme="@style/Theme.AppCompat.Light"
            android:taskAffinity="com.jamesfchen.taskAffinity1"
            android:launchMode="singleTask"/>
        <!--        独立占用一个task stack-->
        <activity android:name="com.jamesfchen.bundle2.launchmode.Jump2SingleInstanceManifestActivity" android:theme="@style/Theme.AppCompat.Light"/>
<!--            android:taskAffinity="com.jamesfchen.taskAffinity2"-->
        <activity android:name="com.jamesfchen.bundle2.launchmode.SingleInstanceActivity" android:theme="@style/Theme.AppCompat.Light"
            android:launchMode="singleInstance"/>
        <activity android:name=".launchmode.NewTaskActivity"
            android:taskAffinity="com.jamesfchen.taskAffinity3"
            android:theme="@style/Theme.AppCompat"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.spacecraft.com"
                    android:path="/web"
                    android:scheme="ispacecraft" />
                <data
                    android:host="www.spacecraft.com"
                    android:path="/web/"
                    android:scheme="ispacecraft" />
            </intent-filter>
        </activity>
        <activity
            android:name=".kk.PagerViewActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:exported="true" />
        <activity
            android:name=".carousel.ViewPagerActivity"
            android:exported="true" />
        <activity android:name=".pulse.PulseActivity"/>
        <activity android:name=".optimization.OptimizationActivity"
            />

    </application>

</manifest>