# [submodule "framework/network/okhttp"]
# 	path = android/framework/network/okhttp
# 	url = https://github.com/square/okhttp.git
# [submodule "framework/network/volley"]
# 	path = android/framework/network/volley
# 	url = https://github.com/google/volley.git
# [submodule "framework/network/FileDownloader"]
# 	path = android/framework/network/FileDownloader
# 	url = https://github.com/lingochamp/FileDownloader.git
# [submodule "framework/network/RxDownload"]
# 	path = android/framework/network/RxDownload
# 	url = https://github.com/ssseasonnn/RxDownload.git
#
# [submodule "framework/image/glide"]
# 	path = android/framework/image/glide
# 	url = https://github.com/bumptech/glide.git
#
# [submodule "framework/image/PictureSelector"]
# 	path = android/framework/image/PictureSelector
# 	url = https://github.com/LuckSiege/PictureSelector.git
# [submodule "framework/common/serialization/wire"]
# 	path = android/framework/common/serialization/wire
# 	url = https://github.com/square/wire.git
#
# [submodule "framework/storage/greenDAO"]
# 	path = android/framework/storage/greenDAO
# 	url = https://github.com/greenrobot/greenDAO.git
# [submodule "framework/storage/realm/realm-android-adapters"]
# 	path = android/framework/storage/realm/realm-android-adapters
# 	url = https://github.com/realm/realm-android-adapters.git
# [submodule "framework/storage/realm/realm-java"]
# 	path = android/framework/storage/realm/realm-java
# 	url = https://github.com/realm/realm-java.git
# [submodule "framework/storage/android-lite-orm"]
# 	path = android/framework/storage/android-lite-orm
# 	url = https://github.com/litesuits/android-lite-orm.git
# [submodule "framework/network/stetho"]
# 	path = android/framework/network/stetho
# 	url = https://github.com/facebook/stetho.git
# [submodule "framework/common/kotlinx.coroutines"]
# 	path = android/framework/common/kotlinx.coroutines
# 	url = https://github.com/Kotlin/kotlinx.coroutines.git
# [submodule "framework/image/fresco"]
# 	path = android/framework/image/fresco
# 	url = https://github.com/facebook/fresco.git
# [submodule "framework/image/picasso"]
# 	path = android/framework/image/picasso
# 	url = https://github.com/square/picasso.git
#
# [submodule "framework/network/super-retrofit"]
# 	path = android/framework/network/super-retrofit
# 	url = git@github.com:JamesfChen/super-retrofit.git
# [submodule "framework/loader/uix"]
# 	path = android/framework/loader/uix
# 	url = https://github.com/JamesfChen/uix.git
# [submodule "framework/image/coil"]
# 	path = android/framework/image/coil
# 	url = https://github.com/coil-kt/coil.git
