<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hawksjamesf.myhome">

    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <application>
        <activity android:name="com.hawksjamesf.myhome.ui.person.SettingsActivity" />
        <activity
            android:name="com.hawksjamesf.myhome.MainActivity"
            android:label="@string/title_activity_main"
            android:launchMode="singleTop">
<!--            通过url路由调用改页面-->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
<!--                自定义的协议如果内部不能处理就会crash报错，http/https如果内部不能处理就会交给外部-->
                <data
                    android:host="i.spacecraft.com"
                    android:path="/home"
                    android:scheme="https" />
                <data
                    android:host="www.spacecraft.com"
                    android:path="/home"
                    android:scheme="ispacecraft" />
                <data
                    android:host="i.spacecraft.com"
                    android:pathPrefix="/c/"
                    android:scheme="https" />
            </intent-filter>
            <!--            firebase app indexing启动 start-->
            <!--            firebase app indexing启动 end-->

        </activity>
        <activity
            android:name="com.hawksjamesf.myhome.ui.home.HomeActivity"
            android:launchMode="singleTop"
            android:theme="@style/HomeTheme" />

        <activity
            android:name="com.hawksjamesf.myhome.SplashActivity"
            android:launchMode="singleTop"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="adjustPan">
            <!--            launcher启动 start-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!--            launcher启动 end -->

        </activity>
        <activity
            android:name="com.hawksjamesf.myhome.SetupWizardActivity"
            android:label="@string/title_activity_setup_wizard"
            android:theme="@style/AppTheme" />

        <activity android:name="com.hawksjamesf.spacecraft.NavigationActivity" />
        <activity android:name="com.hawksjamesf.spacecraft.vm.MVVMActivity" />
        <activity android:name="com.hawksjamesf.myhome.WebViewActivity">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.spacecraft.com"
                    android:path="/web"
                    android:scheme="ispacecraft" />
                <data
                    android:host="www.spacecraft.com"
                    android:path="/web/"
                    android:scheme="ispacecraft" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="${applicationId}.workmanager-init"
            android:directBootAware="false"
            android:exported="false"
            android:multiprocess="true"
            tools:node="remove"
            tools:targetApi="n" />
        <activity android:name=".BlankActivity">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>
        <receiver
            android:name=".SetWallpaper"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.hawksjamesf.spacecraft.set_wallpaper" />
            </intent-filter>

        </receiver>
    </application>

</manifest>