<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <!--   android:required="false"  phone 、tv平台都能用-->
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />


    <application
        android:allowBackup="true"
        android:banner="@mipmap/app_banner"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.App.Starting"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- Enable profiling by macrobenchmark -->
        <profileable
            android:shell="true"
            tools:targetApi="31" />

        <activity
            android:name="com.electrolytej.main.page.MainActivity2"
            android:banner="@drawable/app_icon_your_company"
            android:exported="true"
            android:icon="@drawable/app_icon_your_company"
            android:label="tv"
            android:logo="@drawable/app_icon_your_company"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.electrolytej.main.page.detail.DetailsActivity"
            android:exported="false" />
        <activity
            android:name="com.electrolytej.main.page.detail.PlaybackActivity"
            android:exported="false" />
        <activity
            android:name="com.electrolytej.main.page.BrowseErrorActivity"
            android:exported="false" />
        <activity
            android:name="com.google.jetstream.TvMainActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.App.Starting" />
    </application>

</manifest>