<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hawksjamesf.yposed" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <application >
        <activity
            android:label="yposed activity"
            android:name="com.hawksjamesf.yposed.YPosedActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat"
            android:windowSoftInputMode="adjustPan">

        </activity>
    </application>
</manifest>
