<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hawksjamesf.yposed" >


    <application >
        <activity
            android:label="yposed activity"
            android:name="com.hawksjamesf.yposed.YPosedActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan">
            <!--            launcher启动 start-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!--            launcher启动 end -->

        </activity>
    </application>
</manifest>
