<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hawksjamesf.spacecraft">

    <application>
        <activity android:name=".LottieActivity"/>
        <activity android:name=".FrameAnimationActivity"/>
        <activity android:name=".ScrollableActivity"/>
        <activity
            android:name=".TransitionActivity"
            android:theme="@style/BaseAppTheme"/>

    </application>

</manifest>
