<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jamesfchen.spacecraft">
    <!-- 允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!--    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />-->
    <!--允许程序读写手机状态和身份-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <!--允许程序访问CellID或WiFi热点来获取粗略的位置-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--android10 之后电话 蓝牙 WLAN(Wifi) 需要ACCESS_FINE_LOCATION权限才能使用，
    ACCESS_FINE_LOCATION权限需要打开gps定位才能获取-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.Device" />
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 用户手机设置中允许未知来源安装包安装状态为关；-->
    <!-- Android8.0 以后，如果要安装 apk 需要额外添加权限：-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <!--        android:allowBackup="${allowBackup}"-->
    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:theme,android:allowBackup"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="${AMAP_KEY}" />
        <meta-data
            android:name="BUGLY_APPID"
            android:value="${BUGLY_APP_ID}" />
        <meta-data
            android:name="BUGLY_APP_VERSION"
            android:value="${BUGLY_APP_VERSION}" />
        <!--<meta-data-->
        <!--android:name="BUGLY_APP_CHANNEL"-->
        <!--android:value="${BUGLY_APP_CHANNEL}"/>-->
        <!--        <meta-data-->
        <!--            android:name="BUGLY_ENABLE_DEBUG"-->
        <!--            android:value="${BUGLY_ENABLE_DEBUG}" />-->

        <uses-library
            android:name="android.test.runner"
            android:required="false" />
        <uses-library
            android:name="android.test.base"
            android:required="false" />
        <uses-library
            android:name="android.test.mock"
            android:required="false" />

        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />
        <!--        在编译时停用库，但允许应用在运行时启用它-->
        <meta-data
            android:name="firebase_performance_collection_enabled"
            android:value="true" />
        <!--        在编译时停用库，但不允许应用在运行时启用它-->
        <!--        <meta-data-->
        <!--            android:name="firebase_performance_collection_deactivated"-->
        <!--            android:value="true" />-->
        <meta-data
            android:name="PGYER_APPID"
            android:value="${PGYER_APPID}"/>
        <meta-data
            android:name="PGYER_API_KEY"
            android:value="${PGYER_API_KEY}"/>
        <meta-data
            android:name="PGYER_FRONTJS_KEY"
            android:value="${PGYER_FRONTJS_KEY}"/>
        <!-- 渠道 -->
        <!--        <meta-data-->
        <!--            android:name="PGYER_CHALNNEL_KEY"-->
        <!--            android:value=""/>-->
        <!-- 添加新版本检测 -->
        <!--        <meta-data-->
        <!--            android:name="PGYER_FEATURE_CHECK_UNPDATE"-->
        <!--            android:value="true" />-->
        <!-- 设置fps阈值 -->
        <meta-data
            android:name="PGYER_FPS_THRESHOLD"
            android:value="10"/>

        <provider
            android:name="com.squareup.picasso.PicassoProvider"
            android:authorities="${applicationId}.com.squareup.picasso"
            android:exported="false"
            android:multiprocess="true" />
        <provider
            android:name="com.squareup.leakcanary.internal.LeakCanaryFileProvider"
            android:authorities="com.squareup.leakcanary.fileprovider.${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true"
            android:multiprocess="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/leak_canary_file_paths" />
        </provider>
        <provider
            android:name="com.google.firebase.perf.provider.FirebasePerfProvider"
            android:authorities="${applicationId}.firebaseperfprovider"
            android:exported="false"
            android:initOrder="101"
            android:multiprocess="true" />
        <activity
            android:name="com.jamesfchen.myhome.splash.SplashActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="adjustPan">
            <!--            launcher启动 start-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!--            launcher启动 end -->

        </activity>
        <activity
            android:name="com.github.moduth.blockcanary.ui.DisplayActivity"
            android:exported="true"/>
        <activity
            android:name="com.squareup.leakcanary.internal.DisplayLeakActivity"
            android:exported="true"/>
    </application>

</manifest>