<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jamesfchen.guard">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application >
        <activity
            android:label="yposed activity"
            android:name=".TestGuardActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat"
            android:windowSoftInputMode="adjustPan">
        </activity>
    </application>
</manifest>