<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jamesfchen.loader">
    <application
        android:name="com.jamesfchen.loader.SApp"
        >
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <!--            tools:node="remove"-->
            <meta-data
                android:name="com.jamesfchen.loader.androidxstartup.ApmInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.jamesfchen.loader.androidxstartup.BundleInitializer"
                android:value="androidx.startup" />
            <!--                tools:node="remove"-->
            <meta-data
                android:name="com.jamesfchen.loader.androidxstartup.LoggerInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.jamesfchen.loader.androidxstartup.ImageInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.jamesfchen.loader.androidxstartup.StorageInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.jamesfchen.loader.androidxstartup.CrossPlatformInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.jamesfchen.loader.androidxstartup.EmojiInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>
</manifest>