<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.opengles.aep"
        android:required="true" />
    <uses-feature
        android:glEsVersion="0x00030001"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application>
        <activity
            android:name="com.electrolytej.main.MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/HomeTheme"
            android:windowSoftInputMode="adjustPan">
            <!--            android:theme="@style/HomeTheme"-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- 通过url路由调用改页面 -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 自定义的协议如果内部不能处理就会crash报错，http/https如果内部不能处理就会交给外部 -->
                <data android:scheme="https" />
                <data android:host="i.spacecraft.com" />
                <data android:path="/home" />
                <data android:scheme="ispacecraft" />
                <data android:host="www.spacecraft.com" />
                <data android:path="/home" />
                <data android:scheme="https" />
                <data android:host="i.spacecraft.com" />
                <data android:pathPrefix="/c/" />
            </intent-filter>
            <!-- firebase app indexing启动 start -->
            <!-- firebase app indexing启动 end -->
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity-alias
            android:name=".aMainActivity"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_stat_name"
            android:label="618"
            android:targetActivity="com.electrolytej.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".page.profile.ProfileDetailActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity android:name=".page.profile.SettingsActivity" />
        <activity
            android:name=".page.photo.PhotoActivity"
            android:theme="@style/PhotoTheme" />
        <activity
            android:name=".page.photo.LargePhotoActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity android:name=".page.profile.ChangeIconActivity" />
        <activity android:name=".page.photo.GalleryActivity" />
        <activity
            android:name=".page.profile.PrivacyPolicyActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="${applicationId}.workmanager-init"
            android:directBootAware="false"
            android:exported="false"
            android:multiprocess="true"
            tools:node="remove"
            tools:targetApi="n" />

        <activity android:name="com.electrolytej.main.router.BlankActivity" />

        <receiver
            android:name=".router.SetWallpaperReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.electrolytej.spacecraft.set_wallpaper" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".router.MyAppWidgetProvider"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/deep_link_appwidget_info" />
        </receiver>

        <activity
            android:name="com.electrolytej.main.page.web.WebSearchActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>