<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jamesfchen.account">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- for mta statistics -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application>
        <activity android:name="com.jamesfchen.login.LoginActivity" />

        <activity
            android:name="com.jamesfchen.login.SignInActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="www.spacecraft.com"
                    android:path="/login"
                    android:scheme="ilogin" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jamesfchen.login.SignUpActivity"
            android:parentActivityName="com.jamesfchen.login.SignInActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name="com.cmic.sso.activity.MainActivity"
            android:windowSoftInputMode="stateAlwaysHidden">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>

        <!--android:configChanges="orientation|keyboardHidden|screenSize"
        android:screenOrientation="portrait"-->
        <activity
            android:name="com.cmic.sso.sdk.view.LoginAuthActivity"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden|screenSize"/>

        <activity
            android:name="com.jamesfchen.pay.wx.WXPayActivity"
            android:launchMode="singleTop"
            android:configChanges="orientation|locale|screenSize|layoutDirection|fontScale|screenLayout|keyboardHidden"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity-alias
            android:name="${applicationId}.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity="com.jamesfchen.pay.wx.WXPayActivity"/>
    </application>
</manifest>
