<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hawksjamesf.uicomponent">
    <application>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".DrawableActivity"
            android:label="@string/title_activity_drawable"
            android:theme="@style/AppTheme"></activity>
        <activity android:name=".AnimActivity" />
        <activity
            android:name=".DetailActivity"
            android:theme="@style/BaseAppTheme.DetailTheme" />
        <activity android:name=".LottieActivity" />
        <activity android:name=".FrameAnimationActivity" />
        <activity
            android:name=".TransitionForViewActivity"
            android:theme="@style/BaseAppTheme" />

        <activity
            android:name=".TransitionForActivityActivity"
            android:theme="@style/BaseAppTheme.ListTheme" />

        <activity android:name=".ScrollableActivity" />
        <activity android:name=".gesture.TouchActivity"/>
        <activity
            android:name=".ConstraintAndFlexBoxActivity"
            android:exported="true" />
        <activity
            android:name=".ConstraintPerformanceActivity"
            android:exported="true"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".CoordinatorLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".PagerViewActivity"
            android:exported="true" />
        <activity
            android:name=".ViewPagerActivity"
            android:exported="true" />
        <activity android:name=".ParallaxActivity" />
        <activity android:name="com.hawksjamesf.uicomponent.FeedbackUtilActivity" />
        <activity android:name="com.hawksjamesf.uicomponent.BottomUpActivity" />
        <activity android:name="com.hawksjamesf.uicomponent.FirstActivity" />
        <activity android:name="com.hawksjamesf.uicomponent.SecondaryActivity" />
        <activity android:name="com.hawksjamesf.uicomponent.ThirdActivity" />
        <!--        singleTask(Intent.FLAG_ACTIVITY_NEW_TASK or Intent.FLAG_ACTIVITY_CLEAR_TOP)：如果存在FourthActivity，则清除FourthActivity之上的Activity并且推至顶部-->
        <!--            android:launchMode="singleTask" -->
        <activity android:name="com.hawksjamesf.uicomponent.FourthActivity" />
        <activity android:name="com.hawksjamesf.uicomponent.FragmentNotAttachActivity" />
        <activity android:name="com.hawksjamesf.uicomponent.TextStyleActivity" />

        <activity
            android:name=".PhotoActivity"
            android:label="PhoteoActivity"
            android:theme="@style/PhotoTheme" />
        <activity android:name=".PhotoListActivity" />
        <activity android:name=".LargePhotoActivity" />
        <activity
            android:name=".SearchActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
    </application>
</manifest>
