<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jamesfchen.uicomponent">

    <application>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".widget.recyclerview.RecyclerViewActivity"/>
        <activity android:name="com.jamesfchen.uicomponent.animationsExprimental.AnimActivity" />
        <activity
            android:name="com.jamesfchen.uicomponent.animationsExprimental.DetailActivity"
            android:theme="@style/BaseAppTheme.DetailTheme" />
        <activity android:name="com.jamesfchen.uicomponent.animationsExprimental.LottieActivity" />
        <activity android:name="com.jamesfchen.uicomponent.animationsExprimental.FrameAnimationActivity" />
        <activity
            android:name="com.jamesfchen.uicomponent.animationsExprimental.TransitionForViewActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name="com.jamesfchen.uicomponent.animationsExprimental.TransitionForActivityActivity"
            android:theme="@style/BaseAppTheme.ListTheme" />

        <activity android:name="com.jamesfchen.uicomponent.scrollExprimental.ScrollableActivity" />
        <activity android:name="com.jamesfchen.uicomponent.scrollExprimental.NestedScrollActivity" />
        <activity android:name="com.jamesfchen.uicomponent.gesture.GestureActivity" />
        <activity
            android:name="com.jamesfchen.uicomponent.newLayoutExprimental.ConstraintAndFlexBoxActivity"
            android:exported="true" />
        <activity
            android:name="com.jamesfchen.uicomponent.newLayoutExprimental.ConstraintPerformanceActivity"
            android:exported="true"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name="com.jamesfchen.uicomponent.newLayoutExprimental.CoordinatorLayoutActivity"
            android:exported="true" />
        <activity
            android:name="com.jamesfchen.uicomponent.CustomViewActivity"
            android:label="@string/title_activity_setup_wizard"
            android:theme="@style/AppTheme" />
        <activity android:name="com.jamesfchen.uicomponent.DispatchEventActivity" />


        <activity
            android:name="com.jamesfchen.uicomponent.DrawableActivity"
            android:label="@string/title_activity_drawable"
            android:theme="@style/AppTheme"></activity>
        <activity android:name="com.jamesfchen.uicomponent.FeedbackUtilActivity" />
        <activity android:name="com.jamesfchen.uicomponent.BottomUpActivity" />
        <activity android:name="com.jamesfchen.uicomponent.FirstActivity" />
        <activity android:name="com.jamesfchen.uicomponent.SecondaryActivity" />
        <activity android:name="com.jamesfchen.uicomponent.ThirdActivity" />
        <!--        singleTask(Intent.FLAG_ACTIVITY_NEW_TASK or Intent.FLAG_ACTIVITY_CLEAR_TOP)：如果存在FourthActivity，则清除FourthActivity之上的Activity并且推至顶部-->
        <!--            android:launchMode="singleTask" -->
        <activity android:name="com.jamesfchen.uicomponent.FourthActivity" />
        <activity android:name="com.jamesfchen.uicomponent.FragmentNotAttachActivity" />
        <activity android:name="com.jamesfchen.uicomponent.TextStyleActivity" />


        <activity
            android:name="com.jamesfchen.uicomponent.SearchActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
    </application>
</manifest>
