<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hawksjamesf.template">

    <application android:name=".App">
        <activity
            android:name="com.hawksjamesf.template.StartActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".RemoteServices"
            android:process=".remote_service" />
        <service android:name=".LocalServices" />
        <!--            android:process=".local_service"-->
    </application>
</manifest>