<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jamesfchen.bundle1"
    tools:ignore="ImpliedTouchscreenHardware,MissingLeanbackLauncher,MissingLeanbackSupport">

    <application>
        <activity
            android:name=".Bundle1Activity"
            android:exported="true" />
        <activity
            android:name="com.jamesfchen.bundle1.HomeActivity"
            android:exported="true"
            android:theme="@style/Theme.SpacecraftAndroid.NoActionBar"
            />
    </application>

</manifest>