<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jamesfchen.bundle1">
    <application>
        <activity
            android:name=".HotelMainActivity"
            android:exported="true">
        </activity>
    </application>

</manifest>