<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jamesfchen.base">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application
        android:hardwareAccelerated="true"
        android:name="com.jamesfchen.loader.SApp"
        >
        <activity android:name="com.jamesfchen.activity.AvRecorderActivity" />
        <service
            android:name="com.jamesfchen.av.AvRecorderService"
            android:foregroundServiceType="mediaProjection" />
        <activity
            android:name="com.jamesfchen.activity.VideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:supportsPictureInPicture="true" />
        <!--            android:theme="@style/VideoTheme" -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <!--            tools:node="remove"-->
            <meta-data
                android:name="com.jamesfchen.loader.androidxstartup.ApmInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.jamesfchen.loader.androidxstartup.BundleInitializer"
                android:value="androidx.startup" />
            <!--                tools:node="remove"-->
            <meta-data
                android:name="com.jamesfchen.loader.androidxstartup.LoggerInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.jamesfchen.loader.androidxstartup.ImageInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.jamesfchen.loader.androidxstartup.StorageInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.jamesfchen.loader.androidxstartup.CrossPlatformInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.jamesfchen.loader.androidxstartup.EmojiInitializer"
                android:value="androidx.startup" />
        </provider>

    </application>
</manifest>