<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.electrolytej.base">

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
        </intent>
    </queries>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application android:name="com.electrolytej.SApp">
        <activity android:name="com.electrolytej.activity.AvRecorderActivity" />
        <service
            android:name="com.electrolytej.av.AvRecorderService"
            android:foregroundServiceType="mediaProjection" />
        <activity
            android:name="com.electrolytej.activity.VideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:supportsPictureInPicture="true" />
        <!--            android:theme="@style/VideoTheme" -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <!--            tools:node="remove"-->
            <meta-data
                android:name="com.electrolytej.loader.androidxstartup.ApmInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.electrolytej.loader.androidxstartup.BundleInitializer"
                android:value="androidx.startup" />
            <!--                tools:node="remove"-->
            <meta-data
                android:name="com.electrolytej.loader.androidxstartup.LoggerInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.electrolytej.loader.androidxstartup.ImageInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.electrolytej.loader.androidxstartup.StorageInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.electrolytej.loader.androidxstartup.CrossPlatformInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.electrolytej.loader.androidxstartup.EmojiInitializer"
                android:value="androidx.startup" />
        </provider>

        <activity
            android:name="com.electrolytej.activity.WebActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.spacecraft.com"
                    android:path="/web"
                    android:scheme="ispacecraft" />
                <data
                    android:host="www.spacecraft.com"
                    android:path="/web/"
                    android:scheme="ispacecraft" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.blankj.utilcode.util.UtilsTransActivity4MainProcess"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/ActivityTranslucent"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />

        <activity
            android:name="com.blankj.utilcode.util.UtilsTransActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:multiprocess="true"
            android:theme="@style/ActivityTranslucent"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />

        <provider
            android:name="com.blankj.utilcode.util.UtilsFileProvider"
            android:authorities="${applicationId}.utilcode.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/util_code_provider_paths" />
        </provider>

        <service
            android:name="com.blankj.utilcode.util.MessengerUtils$ServerService"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.messenger" />
            </intent-filter>
        </service>
    </application>
</manifest>