<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jamesfchen.bundle1">

    <application>
        <activity
            android:name=".SayMeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.jamesfchen.com"
                    android:path="/hotel/bundle1"
                    android:scheme="jamesfchen" />
            </intent-filter>
        </activity>

        <service
            android:name="com.jamesfchen.bundle1.aidl.RemoteService"
            android:process=".remote_service" />
        <service android:name=".aidl.LocalService" />
<!--        android:process=".local_service"-->
        <service
            android:name="com.jamesfchen.bundle1.aidl.MessengerService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />
        <activity android:name=".TestActivity" />
    </application>
</manifest>