<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hawksjamesf.simpleweather">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".SimpleWeatherApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.HomeActivity"/>

        <service android:name=".ui.HomeService">
        </service>

        <activity
            android:name=".ui.SplashAcvitivy"
            android:label="@string/title_activity_splash_acvitivy"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SetupWizardActivity"
            android:label="@string/title_activity_setup_wizard"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>