<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hawksjamesf.module1">

    <application>
        <activity
            android:name=".PageActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan">
        </activity>
    </application>
</manifest>