<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-sdk tools:overrideLibrary="lab.galaxy.dlfunc"/>
<!--    <application android:appComponentFactory=".MyCoreComponentFactory" tools:replace="android:appComponentFactory">-->
    <application>
        <profileable android:shell="true"/>
    </application>
</manifest>