<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jamesfchen.myhome">

    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <application>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            >
<!--            android:theme="@style/HomeTheme"-->

            <!-- 通过url路由调用改页面 -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 自定义的协议如果内部不能处理就会crash报错，http/https如果内部不能处理就会交给外部 -->
                <data
                    android:host="i.spacecraft.com"
                    android:path="/home"
                    android:scheme="https" />
                <data
                    android:host="www.spacecraft.com"
                    android:path="/home"
                    android:scheme="ispacecraft" />
                <data
                    android:host="i.spacecraft.com"
                    android:pathPrefix="/c/"
                    android:scheme="https" />
            </intent-filter>
            <!-- firebase app indexing启动 start -->
            <!-- firebase app indexing启动 end -->

        </activity>
        <activity
            android:name=".screen.profile.ProfileDetailActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity android:name=".screen.profile.SettingsActivity" />
        <activity
            android:exported="true"
            android:name=".WebViewActivity"
            android:theme="@style/Theme.AppCompat">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.spacecraft.com"
                    android:path="/web"
                    android:scheme="ispacecraft" />
                <data
                    android:host="www.spacecraft.com"
                    android:path="/web/"
                    android:scheme="ispacecraft" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="${applicationId}.workmanager-init"
            android:directBootAware="false"
            android:exported="false"
            android:multiprocess="true"
            tools:node="remove"
            tools:targetApi="n" />

        <activity android:name=".BlankActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <receiver
            android:name=".SetWallpaper"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.hawksjamesf.spacecraft.set_wallpaper" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".screen.newfeeds.PhotoActivity"
            android:label="PhotoActivity"
            android:theme="@style/PhotoTheme" />
        <activity
            android:name=".screen.newfeeds.LargePhotoActivity"
            android:theme="@style/Theme.AppCompat.Light" />

    </application>

</manifest>