<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hawksjamesf.map">

    <application android:hardwareAccelerated="true">

        <activity
            android:name=".MapActivity"
            android:label="map page"
            android:hardwareAccelerated="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER"/>-->
<!--            </intent-filter>-->
        </activity>
<!--        <activity-alias-->
<!--            android:name="MapActivity2"-->
<!--            android:targetActivity=".MapActivity"-->
<!--            android:label="map page2"-->
<!--            >-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity-alias>-->

        <activity
            android:label="location page"
            android:name=".LocationActivity"
            android:hardwareAccelerated="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER"/>-->
<!--                <category android:name="android.intent.category.DEFAULT"/>-->
<!--            </intent-filter>-->
        </activity>
        <service
            android:foregroundServiceType="location"
            android:name=".service.LbsServices"
            />
        <service
            android:foregroundServiceType="location"
            android:name=".service.LbsJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:foregroundServiceType="location"
            android:name=".service.LbsJobIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:foregroundServiceType="location"
            android:name="com.amap.api.location.APSService"
            ></service>
    </application>
</manifest>