<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <activity
            android:name="com.example.compose.jetchat.NavActivity"
            android:banner="@drawable/ic_jetchat"
            android:exported="true"
            android:icon="@drawable/ic_jetchat"
            android:label="im"
            android:logo="@drawable/ic_jetchat"
            android:windowSoftInputMode="adjustResize"
            tools:replace="android:label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>